.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}

.ol {
    outline: 1px solid red;
}
.clearFix:after,
.fList:after {
    content: '';
    display: block;
    clear: both;
}
.center {
    text-align: center;
}

.fList > li {
    float: left;
}
.cList {
    text-align: center;
    font-size: 0;
}

.cList > li {
    display: inline-block;
    font-size: 1rem;
}
